.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	background-color: #e9ecef;
	color: #495057;
}

.nav-pills .nav-link{
	color: #495057;
}


/*CSS for the note!*/
.cnt {
	resize: both;
	background-color: transparent;
	border: none;
	font-family: "Gloria Hallelujah", cursive;
	width: 100%;
  height: 100%;
	padding: 5px;
  font-size: 12pt;
}

.cnt:focus {
	outline: none;
	border: none;
	box-shadow: 0 0 5px 1px rgba(0,0,0,.2) inset;
}

.text {
	padding: 1em;
}

.text p {
  font-family: Comic Sans, helvetica, arial, sans-serif;
}

.note {
	float: left;
	display: block;
	position: absolute;
	min-width: 300px;
	min-height: 100px;
	background: linear-gradient(top, rgba(0,0,0,.05), rgba(0,0,0,.25));
	background-color: #FFFD75;
	box-shadow: 5px 5px 10px -2px rgba(33,33,33,.3);
	transform: rotate(2deg);
	transform: skew(-1deg,1deg);
	transition: transform .15s;
	z-index: 1;

}
.note:hover {
  cursor: move;
}

.current-partner-label{
	position: absolute;
	font-family: "Gloria Hallelujah", cursive;
	bottom: 5px;
	color: blue;
}

.note-header {
	height: 40px;
	min-width: 300px;
	background-color: #FFFFCC;
}

#board-section{
	position: relative;
}

#add-new-note {
	position: fixed;
	right: 40px;
	bottom: 40px;
}

#save-button {
	position: fixed;
	right: 180px;
	bottom: 40px;
}